body {
  margin: 0;
  display: flex;
  justify-content: left;
  
  min-width: 320px;
  min-height: 100vh;
}
h2{
  margin: 0 0 5px 0;
}
.RC{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 2px solid darkgray;
  box-shadow:5px 5px 5px 1px #000000 ;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  min-width: 200px;
  box-sizing:border-box;/*sizing within the border*/
  flex: 1;
}
.coloredDiv{
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
}
.box{
    border: 3px dotted gray;
    padding: 5%;
}

.box h1{
  font-size: 1.5em;
  flex: 1;
}